body {
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #EAF6F6;
  /* background-color: #C2FFD9; */
}

hr {
  text-align: center;
  border: red;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  border-width: 0.50rem;
  width: 6%;
  margin: 20px auto 20px auto;
  padding: 10px;
}

h1 {
  color: #66BFBF;
  font-size: 4.3rem;
  /* font-family: 'Allura', cursive; */
  font-family: 'Sacramento', cursive;
  margin: 100px auto 0 auto;
  /* width: auto; */
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Germania One', cursive;
  margin: 5px auto 10px auto;
  /* padding-bottom: 10px; */
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Germania One', cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  padding-top: 1.5rem;
  margin: 0 auto 50px
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Germania One', cursive;
   font-size: 40px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.logo {
  width: 10%;
  /* height: auto; */
   /* height: 150px; */
  padding-top: 50px;
}

.mountain {
  width: 35%;
}

.skill_img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skill_row {
  text-align: left;
  width: 50%;
  margin: 25px auto 80px auto;
}

.skill_row_img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom_cloud {
  position: absolute;
  left: 15.75rem;
  top: 300px;
}

.top_cloud {
  position: absolute;
  right: 18.75rem;
  top: 40px;
  padding-top: 45px;
}

.top_container {
  padding: 10px;
  background-color: ;
}

.middle_container {
  margin: 100px 0;
}

.bottom_container {

}
